.number {
  position: relative;
  background-color: rgb(212, 224, 255);
  width: 75%;
}

.number img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.end {
  pointer-events: none;
}