.memoradd-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 66%;
  padding-top: 10px;
}

.memoradd-body {
  display: flex;
  justify-content: space-around;
}

.memoradd-right-side {
  width: 25%;
}

.memoradd-card {
  height: fit-content;
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: rgb(248, 221, 198);
  text-align: left;
}

.show-cards {
  border: 2px solid rgb(194, 191, 196);
  background-color: transparent;
}