.memoradd-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 66%;
  padding-top: 10px;
}

.memoradd-body {
  display: flex;
  justify-content: space-around;
}

.memoradd-right-side {
  width: 25%;
}

.memoradd-card {
  height: fit-content;
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: rgb(243, 222, 253);
  text-align: left;
}

.show-cards {
  border: 2px solid rgb(194, 191, 196);
  background-color: transparent;

  &:hover {
    background-color: rgb(185, 157, 221);
    color: white;
  }
}

.memoradd-result {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
}

.memoradd-result-header {
  height: 0.5em;
}

.o {
  color: rgba(38, 224, 100, 0.884);
}

.healthy {
  color: green;
}

.sufficient {
  color: orange;
}

.danger {
  color: red;
}