.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons-link {
  font-size: 75%;
}

.btn-outline-info:hover {
  background-color: rgb(231, 231, 231);
}

.home-card {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgb(221, 239, 255);
}